.i-md-content{
    //height: 50vh;
  }
  .add-mat-dialog-title{
    background: white;
    color: #000000;
  }
  .cancel-btn{
    color: #a2a2a2;
    margin-right: 10px;
  }
  
  .mat-dialog-actions{
    position: absolute;
      // bottom: -12px;
      bottom: 0px;
      padding-left: 5px;
      // margin-bottom: 12px;
      margin-left:10px;
  }
  .add-mat-dialog-title img{
    width: 19px !important;
    height: auto !important;
  }
  
  