<div class="contracts-container">
  <!-- html for contract not created yet -->
  <div [hidden]="true" class="text-center">
    <img src='assets\images\contracts\no-contract-img.png' class="contract-img">
    <h2 class="new-content">Let’s create a contract!</h2>
    <button mat-raised-button color="primary" class="add-cont" (click)="actionClick('addContract')">
      <mat-icon class="add-icon">add</mat-icon>&nbsp; NEW CONTRACT
    </button>
  </div>
  <!-- html for content consolidated grid view -->
  <div *ngIf="this.value == 'noData'">
    <!-- Contracts grid view start -->
    <div>
      <div fxLayout="row">
        <img src="assets/images/master/task-icon.png" class="contract-icon">
        <div fxFlex="10">
          <div class="con-txt">TOTAL CONTRACTS</div>
          <div class="con-no">{{contractLength}}</div>
        </div>
      </div>
      <hr class="i-hr">
    </div>
    <!-- Contracts grid view end -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div class="cont-tab" fxFlex="23" *ngFor="let flight of contractList">
        <!-- [ngClass]="{'spice': flight.bg == 'spice','al':flight.bg == 'al','anz':flight.bg == 'anz'}" -->
        <div class="cont-grid" [ngClass]="{'spice': flight.styles[0].bg == 'spice','al':flight.styles[0].bg == 'al','anz':flight.styles[0].bg == 'anz'}">
          <img [src]='"assets/images/billing/"+flight.styles[0].col+".png"'>
          <!-- <img [src]='"assets/images/billing/spice-jet.png"'> -->
        </div>
        <div class="cont-head">
          {{flight.client_name}}
        </div>
        <div class="cont-shead">
          <!-- {{flight.contractType}} -->
          Comprehensive
        </div>
        <hr class="grid-hr">
        <div class="accord-cont">
          <mat-accordion>
            <mat-expansion-panel class="client-accord">
              <mat-expansion-panel-header [expandedHeight]="'30px'" [collapsedHeight]="'30px'">
                <mat-panel-description>
                  <!-- <div class="cont-start" fxLayout="row" fxLayoutWrap="wrap" *ngFor="let equip of flight.eqpType">
                    <span class="cont-detail">{{equip.type}}</span>
                  </div> -->
                  <div class="cont-start" fxLayout="row" fxLayoutWrap="wrap">
                    <span class="cont-detail" *ngFor="let lst of flight.equipments">{{lst.name}}</span>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <hr class="grid-hr">
        <div class="date-row" fxLayout="row">
          <div fxFlex="50">
            <div class="cont-tit"> START DATE</div>
            <div class="cont-tit cont-date">{{flight.effective_from}}</div>
          </div>
          <div fxFlex="50">
            <div class="cont-tit"> END DATE</div>
            <div class="cont-tit cont-date">{{flight.effective_to}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="contract-footer">
      <button mat-raised-button (click)="actionClick('addContract')" class="edit-ser add-ser create">
        CREATE</button>
    </div>
  </div>
  <!-- Client Info section start -->
  <div *ngIf="this.value != 'noData'" fxLayout="row" fxLayoutWrap="wrap" class="add-contract">
    <!-- constant left side start -->
    <div fxFlex="25" class="stepper">
      <mat-vertical-stepper class="mat-step" #stepper>
        <mat-step>
          <ng-template matStepLabel>
            <p class="contracts-head" (click)="actionClick('addContract')">CONTRACT INFO</p>
          </ng-template>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Contract Info
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Duration
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Type of Aircraft
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p class="contracts-head" (click)="actionClick('contractService')">CONTRACT SERVICES</p>
          </ng-template>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Aircraft Maintenance
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Ground Support Equipment
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Ground Services
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Security
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Cargo
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p class="contracts-head" (click)="actionClick('equipments')">EQUIPMENTS</p>
          </ng-template>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Extras
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Supplementary Equipment
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Pax Handling
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Baggage Handling
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Aircraft Servicing
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p class="contracts-head" (click)="actionClick('rateCard')">RATE CARD</p>
          </ng-template>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Bundled Package
          </div>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Ad-hoc
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <p class="contracts-head" (click)="actionClick('serviceLevel')">SERVICE-LEVEL AGREEMENT</p>
          </ng-template>
          <div class="step-details">
            <mat-icon>fiber_manual_record</mat-icon>Service-Level Agreement
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <!-- constant left side end -->
    <div fxFlex="5">

    </div>
    <!-- buffer space -->
    <div fxFlex="70" class="add-wizard">
      <form>
        <!-- dynamic right section 1 start -->
        <!-- Client Info block start -->
        <div *ngIf="this.value == 'addContract'" fxLayout="row" fxLayoutWrap="wrap" class="">
          <div fxFlex="100" class="block-head">
            Contract Info
          </div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>AIRLINE NAME</mat-label>
              <mat-select name="clientName" placeholder="Select airline name" [(ngModel)]="cnt.clientName">
                <mat-option *ngFor="let client of clientList" [value]="client.id" class="mat-normal-option">
                  {{client.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>CONTRACT NAME</mat-label>
              <div class="client-font">
                <input type="text" spellcheck="false" matInput name="contractName" placeholder="Enter contract name" [(ngModel)]="cnt.contractName">
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>BILLING CURRENCY</mat-label>
              <mat-select name="currency" placeholder="Select billing currency" [(ngModel)]="cnt.currency">
                <mat-option *ngFor="let curr of currency" [value]="curr.id" class="mat-normal-option">({{curr.symbol}}) {{curr.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>BILLING FREQUENCY</mat-label>
              <mat-select name="frequency" placeholder="Select billing frequency" [(ngModel)]="cnt.frequency">
                <mat-option *ngFor="let freq of frequency" [value]="freq.id" class="mat-normal-option">{{freq.cnt}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div fxFlex="47" class="custom-toggle width-100" role="group">
          <button type="button" [ngClass]="{'btn-active': contractType}" (click)="contType('comp')"
            class="width-50">COMPREHENSIVE</button>
          <button type="button" [ngClass]="{'btn-active': !contractType}" (click)="contType('adHoc')"
            class="width-50">AD-HOC</button>
        </div> -->
          <!-- Client Info block End -->
          <!-- Contract Duration start -->
          <div fxFlex="100" class="block-head">
            Contract duration
          </div>
          <div fxFlex="47">
            <mat-form-field class="i-mat-form-field w-100" appearance="outline" floatLabel="always">
              <mat-label>FROM</mat-label>
              <input readonly matInput [min]="minToday" [matDatepicker]="from" name="effFrom" placeholder="Pick a date" [(ngModel)]="cnt.from"
              (ngModelChange)="minDate(cnt.from)">
              <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
              <mat-datepicker #from></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="47">
            <mat-form-field class="i-mat-form-field w-100" appearance="outline" floatLabel="always">
              <mat-label>TO</mat-label>
              <input readonly matInput [min]="minToDate" [matDatepicker]="to" name="effTo" placeholder="Pick a date" [(ngModel)]="cnt.to">
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- Equipments serviced start -->
          <div fxFlex="100" class="block-head">
            Aircraft type
          </div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>DOMESTIC</mat-label>
              <mat-select name="domestic" placeholder="Select an Aircraft type" [(ngModel)]="cnt.dom">
                <mat-option *ngFor="let eqp of equipList" [value]="eqp.id" class="mat-normal-option" (click)="eqpList('dom',eqp)">{{eqp.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <div class="task-codes-block">
              <div fxLayout="row">
                <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
                  <mat-label>DOMESTIC</mat-label>
                  <input type="text" name="search" matInput placeholder="Select an Aircraft type" class="" [(ngModel)]="searchText">
                </mat-form-field>
              </div>
              <div class="row mat-dialog-content" fxLayout="row">
                <div class="col-sm-12" *ngFor="let eqp of equipList | EqpFilterPipe : searchText : 'name'">
                  <div class="task-option " fxLayout="row">
                    <mat-checkbox fxFlex="100" name="eqpTypes" class="primary-checkbox i-mat-checkbox1" (click)="eqpList('dom',eqp)">
                      {{eqp.name}} </mat-checkbox>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div fxFlex="6"></div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>INTERNATIONAL</mat-label>
              <mat-select name="domestic" placeholder="Select an Aircraft type" [(ngModel)]="cnt.int">
                <mat-option *ngFor="let eqp of equipList" [value]="eqp.id" class="mat-normal-option" (click)="eqpList('int',eqp)">{{eqp.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <div class="task-codes-block">
              <div fxLayout="row">
                <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
                  <mat-label>INTERNATIONAL</mat-label>
                  <input type="text" name="search" matInput placeholder="Select an Aircraft type" class="" [(ngModel)]="searchInt">
                </mat-form-field>
              </div>
              <div class="row mat-dialog-content" fxLayout="row">
                <div class="col-sm-12" *ngFor="let eqp of equipList | EqpFilterPipe : searchInt : 'name'">
                  <div class="task-option " fxLayout="row">
                    <mat-checkbox fxFlex="100" name="eqpTypes" class="primary-checkbox i-mat-checkbox1" (click)="eqpList('int',eqp)">
                      {{eqp.name}} </mat-checkbox>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <!-- Equipments serviced end -->
          <div class="footer-section">
            <button mat-raised-button class="cancl" (click)="actionClick('noData')">
              CANCEL</button>
            <button mat-raised-button class="edit-ser add-ser" (click)="goNext(stepper); actionClick('contractService')">
              CONTINUE</button>
          </div>

        </div>
        <!-- Contract Duration end -->
        <!-- dynamic right section 1 end -->
        <!-- dynamic right section 2 start -->
        <div *ngIf="this.value == 'serviceLevel'" fxLayout="row" fxLayoutWrap="wrap" class="y">
          <div fxFlex="80" class="service-head">
            Service-Level Agreement
          </div>
          <div fxFlex="20">
            <!-- <button mat-raised-button class="edit-ser add-ser">
            ADD SERVICE</button> -->
          </div>
          <div fxFlex="100" class="block-heads">B737</div>
          <div fxFlex="30">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>TURN TIME(in min)</mat-label>
              <div class="client-font inline-disp">
                <input type="text" spellcheck="false" matInput name="turnTime" placeholder="Enter a time">
                <!-- <span class="inline-eqp">B737</span> -->
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="5"></div>
          <div fxFlex="30">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>DELAY TOLERANCE THRESHOLD(in min)</mat-label>
              <div class="client-font">
                <input type="text" spellcheck="false" matInput name="turnThreshold" placeholder="Enter a time">
              </div>
              <div class="inp-msg">
                *Buffer time within which the turn is not condisered a delay
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="5"></div>
          <div fxFlex="30">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>SLA VALIDITY THRESHOLD(in min)</mat-label>
              <div class="client-font">
                <input type="text" spellcheck="false" matInput name="delayThreshold" placeholder="Enter a time">
              </div>
              <div class="inp-msg">
                *Delay after which penalties will not be applicable
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="100" class="block-head">
            PENALTY
          </div>
          <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>DELAY PENALTY($ per min)</mat-label>
              <div class="client-font">
                <input type="text" spellcheck="false" matInput name="delayPenalty" placeholder="Enter an amount">
              </div>
            </mat-form-field>
          </div>
          <div fxFlex="6"></div>
          <!-- <div fxFlex="47">
            <mat-form-field class="w-100" appearance="outline" floatLabel="always">
              <mat-label>TOTAL CONTRACT PRICE(in $)</mat-label>
              <div class="client-font">
                <input type="text" spellcheck="false" matInput name="totalPrice" placeholder="Enter an amount">
              </div>
            </mat-form-field>
          </div> -->
          <div class="footer-section">
            <button mat-raised-button class="cancl" (click)="goBack(stepper);actionClick('equipments')">
              PREVIOUS</button>
            <button mat-raised-button class="edit-ser add-ser"
              (click)="goNext(stepper);actionClick('noData');postData(cnt)">
              CREATE</button>
          </div>
        </div>
        <div *ngIf="this.value == 'contractService'" fxLayout="row" fxLayoutWrap="wrap" class="">
          <div fxFlex="80" class="service-head">
            Contract Services
          </div>
          <div fxFlex="20">
            <!-- <button mat-raised-button class="edit-ser add-ser">
            ADD SERVICE</button> -->
          </div>
          <div *ngIf="tmpDom" class="equip-list" fxFlex="20">
              <div [ngClass]="{'eqp-active': tmpDom.name == activeEquip}" (click)="equipType(tmpDom.name)">
                {{tmpDom.name}}
                <br>
                <span class="equip-value" [ngClass]="{'eqp-value-active': tmpDom.name == activeEquip}">
                  {{tmpDom.carr}}</span>
              </div>
            </div>
            <div *ngIf="tmpInt" class="equip-list" fxFlex="20">
                <div [ngClass]="{'eqp-active': tmpInt.name == activeEquip}" (click)="equipType(tmpInt.name)">
                  {{tmpInt.name}}
                  <br>
                  <span class="equip-value" [ngClass]="{'eqp-value-active': tmpInt.name == activeEquip}">
                    {{tmpInt.carr}}</span>
                </div>
              </div>
              <!-- <div fxFlex="60"></div> -->
          <!-- <div class="equip-list" fxLayout="row" fxFlex="100">
            <div fxFlex *ngFor="let eqp of equipmentList" [ngClass]="{'eqp-active': eqp.type == activeEquip}" (click)="equipType(eqp.type)">
              {{eqp.type}}
              <br>
              <span class="equip-value" [ngClass]="{'eqp-value-active': eqp.type == activeEquip}">
                {{eqp.value}}</span>
            </div>
          </div> -->
          <div fxFlex="100" class="custom-toggle width-100 center" role="group">
            <button type="button" [ngClass]="{'btn-active': flightType== 'base'}" (click)="typeFlight('base')" class="width-100">BASE</button>
            <button type="button" [ngClass]="{'btn-active': flightType== 'turnaround'}" (click)="typeFlight('turnaround')" class="width-100">TURNAROUND</button>
            <button type="button" [ngClass]="{'btn-active': flightType== 'halt'}" (click)="typeFlight('halt')" class="width-100">TERMINATING</button>
          </div>
          <div class="service-accord">
            <mat-accordion>
              <mat-expansion-panel class="services-type" [expanded]="isFirst" *ngFor="let serve of serveList; first as isFirst">
                <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
                  <!-- <span *ngIf="serve.service_category.length != 0" class="cont-indicator">{{(serve.service_category.length)}}</span> -->
                  <mat-panel-title>
                    <div class="rate-topic" fxLayout="row">
                      <div fxFlex name="eqpTypes" class="primary-checkbox i-mat-checkbox1">
                        {{serve.name}} </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutWrap="wrap">
                  <div  class="roles-list" *ngFor="let roles of serve.roles">
                    <div>
                      <button class="increment" type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();">-
                      </button>
                      <input class="icon" type="number" name="quantity" min="1" max="20">
                      <button class="decrement" type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">+
                      </button>
                      {{roles.role}}
                    </div>
                  </div>
                  <div fxFlex="45" class="contract-type" *ngFor="let service of serve.service_category">
                    <mat-accordion>
                      <mat-expansion-panel class="services-expansion">
                        <mat-expansion-panel-header [expandedHeight]="'40px'" [collapsedHeight]="'40px'" class="service-mat">
                          <mat-panel-title>
                            <div class="services-option " fxLayout="row" fxLayoutWrap="wrap">
                              <mat-checkbox fxFlex="100" name="eqpTypes" class="primary-checkbox i-mat-checkbox1">
                                {{service.name}} </mat-checkbox>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="footer-section">
            <button mat-raised-button class="cancl" (click)="goBack(stepper);actionClick('addContract')">
              PREVIOUS</button>
            <button mat-raised-button class="edit-ser add-ser" (click)="goNext(stepper);actionClick('equipments')">
              CONTINUE</button>
          </div>
        </div>
        <div *ngIf="this.value == 'equipments'" fxLayout="row" fxLayoutWrap="wrap" class="">
          <div fxFlex="80" class="service-head">
            Equipment List
          </div>
          <div fxFlex="20">
            <!-- <button mat-raised-button class="edit-ser add-ser">
            ADD SERVICE</button> -->
          </div>
          <!-- <div class="equip-list" fxLayout="row" fxFlex="100">
            <div fxFlex *ngFor="let eqp of equipmentList" [ngClass]="{'eqp-active': eqp.type == activeEquip}" (click)="equipType(eqp.type)">
              {{eqp.type}}
              <br>
              <span class="equip-value" [ngClass]="{'eqp-value-active': eqp.type == activeEquip}">
                {{eqp.value}}</span>
            </div>
          </div> -->
          <div *ngIf="tmpDom" class="equip-list" fxFlex="20">
              <div [ngClass]="{'eqp-active': tmpDom.name == activeEquip}" (click)="equipType(tmpDom.name)">
                {{tmpDom.name}}
                <br>
                <span class="equip-value" [ngClass]="{'eqp-value-active': tmpDom.name == activeEquip}">
                  {{tmpDom.carr}}</span>
              </div>
            </div>
            <div *ngIf="tmpInt" class="equip-list" fxFlex="20">
                <div [ngClass]="{'eqp-active': tmpInt.name == activeEquip}" (click)="equipType(tmpInt.name)">
                  {{tmpInt.name}}
                  <br>
                  <span class="equip-value" [ngClass]="{'eqp-value-active': tmpInt.name == activeEquip}">
                    {{tmpInt.carr}}</span>
                </div>
              </div>
              <div fxFlex="60"></div>
          <div fxFlex="100" class="custom-toggle width-100 center" role="group">
            <button type="button" [ngClass]="{'btn-active': flightType== 'base'}" (click)="typeFlight('base')" class="width-100">BASE</button>
            <button type="button" [ngClass]="{'btn-active': flightType== 'turnaround'}" (click)="typeFlight('turnaround')" class="width-100">TURNAROUND</button>
            <button type="button" [ngClass]="{'btn-active': flightType== 'halt'}" (click)="typeFlight('halt')" class="width-100">HALT</button>
          </div>
          <div class="service-accord">
            <mat-accordion>
              <mat-expansion-panel class="services-type" [expanded]="isFirst" *ngFor="let serve of EquipDetailsList; first as isFirst">
                <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'50px'">
                  <!-- <span *ngIf="serve.equipments_category.length != 0" class="cont-indicator">{{(serve.equipments_category.length)}}</span> -->
                  <mat-panel-title>
                    <div class="rate-topic" fxLayout="row">
                      <div fxFlex name="eqpTypes" class="primary-checkbox i-mat-checkbox1">
                        {{serve.name}} </div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutWrap="wrap">
                  <div fxFlex="45" class="contract-type" *ngFor="let service of serve.equipments_category">
                    <mat-accordion>
                      <mat-expansion-panel class="services-expansion">
                        <mat-expansion-panel-header [expandedHeight]="'40px'" [collapsedHeight]="'40px'" class="service-mat">
                          <mat-panel-title>
                            <div class="services-option " fxLayout="row" fxLayoutWrap="wrap">
                              <mat-checkbox fxFlex="100" name="eqpTypes" class="primary-checkbox i-mat-checkbox1">
                                {{service.name}} </mat-checkbox>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="roles-lists" fxLayout="row">
                          <div fxFlex="50">
                            <button class="increment" type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();">-
                            </button>
                            <input class="icon" type="number" name="quantity" min="1" max="100" [(ngModel)]="cnt.role1">
                            <button class="decrement" type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">+
                            </button>
                            Number(s)
                          </div>
                          <div fxFlex="50">
                            <button class="increment" type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();">-
                            </button>
                            <input class="icon" type="number" name="quantity" min="10" max="500" [(ngModel)]="cnt.role2">
                            <button class="decrement" type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">+
                            </button>
                            Minutes
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="footer-section">
            <button mat-raised-button class="cancl" (click)="goBack(stepper);actionClick('contractService')">
              PREVIOUS</button>
            <button mat-raised-button class="edit-ser add-ser" (click)="goNext(stepper);actionClick('rateCard')">
              CONTINUE</button>
          </div>
        </div>
        <div *ngIf="this.value == 'rateCard'" fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex="80" class="service-head">
            Rate Card
          </div>
          <div fxFlex="20">
            <!-- <button mat-raised-button class="edit-ser add-ser">
            ADD SERVICE</button> -->
          </div>
          <div fxFlex="100" class="rate-toggle width-100 left" role="group">
            <div class="comp-head">COMPREHENSIVE PACKAGES
            </div>
            <div class="rate-head">B737</div>
            <button type="button" class="width-100 ">BASE*
              <div>
                <mat-form-field class="w-100" floatLabel="never">
                  <mat-label>&nbsp;&nbsp;$&nbsp;&nbsp;Amount</mat-label>
                  <div class="">

                    <input type="text" matInput name="basecount" class="mar-left-5">
                  </div>
                </mat-form-field>
              </div>
            </button>
            <button type="button" class="width-100 ">TURNAROUND*
              <div>
                <mat-form-field class="w-100" floatLabel="never">
                  <mat-label>&nbsp;&nbsp;$&nbsp;&nbsp;Amount</mat-label>
                  <div class="">
                    <input type="text" matInput name="basecount" class="mar-left-5">
                  </div>
                </mat-form-field>
              </div>
            </button>
            <button type="button" class="width-100 ">HALT*
              <div>
                <mat-form-field class="w-100" floatLabel="never">
                  <mat-label>&nbsp;&nbsp;$&nbsp;&nbsp;Amount</mat-label>
                  <div class="">

                    <input type="text" matInput name="basecount" class="mar-left-5">
                  </div>
                </mat-form-field>
              </div>
            </button>
          </div>
          <div class="service-accord">
            <mat-accordion>
              <mat-expansion-panel class="services-type" [expanded]="true">
                <mat-expansion-panel-header [expandedHeight]="'60px'" [collapsedHeight]="'60px'">
                  <!-- <span class="cont-indicator">{{EquipDetailsList.length}}</span> -->
                  <mat-panel-title>
                    <div class="services-option padding-end" fxLayout="row">
                      <div fxFlex name="eqpTypes" class="primary-checkbox i-mat-checkbox1">
                        AD-HOC</div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="table-sec">
                  <div>
                    <div fxLayout="row" class="content-head">
                      <div fxFlex="40" class="static-head">
                        <div>TASK NAME</div>
                      </div>
                      <div fxFlex="20" class="static-head">
                        <div>RATE(in $)</div>
                      </div>
                      <div fxFlex="30" class="static-head">
                        <div>CHARGE BY</div>
                      </div>
                      <div fxFlex="10" class="static-head">
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let eqp of EquipDetailList">
                    <div class="rate-topic" fxFlex="100">
                      {{eqp.name}}
                    </div>
                    <div fxFlex="100">
                      <div *ngFor="let eqps of eqp.service_category" class="eqpDetails">
                        <div fxFlex="40" class="task-con">
                          <div class="">{{eqps.name}}</div>
                        </div>
                        <div fxFlex="20" class="task-con">
                          <mat-form-field class="adhoc-value w-50" floatLabel="never">
                            <mat-label></mat-label>
                            <div class="">
                              <input type="text" matInput name="basecount" class="mar-left-5">
                            </div>
                          </mat-form-field>
                        </div>
                        <div fxFlex="30" class="task-con select-option">
                          <mat-form-field class="adhoc-value w-57" appearance="outline" floatLabel="never">
                            <mat-select name="clientName">
                              <mat-option *ngFor="let client of unitType" [value]="client.value"
                                class="mat-normal-option">
                                {{client.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div fxFlex="10" class="task-con">
                          <mat-form-field class=" adhoc-value w-50" floatLabel="never">
                            <mat-label></mat-label>
                            <div class="">
                              <input type="text" matInput name="basecount" class="mar-left-5">
                            </div>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="footer-section">
            <button mat-raised-button class="cancl" (click)="goBack(stepper);actionClick('equipments')">
              PREVIOUS</button>
            <button mat-raised-button class="edit-ser add-ser" (click)="goNext(stepper);actionClick('serviceLevel')">
              CONTINUE</button>
          </div>
        </div>
        <!-- <div class="footer-section">
        <button mat-raised-button class="edit-ser add-ser" (click)="goBack(stepper)">
          NEXT</button>
      </div> -->
      </form>
    </div>
    <!-- dynamic right section 2 end -->
  </div>
</div>
<!-- Client Info section end -->