.arc-label {
  font-size: 10px;
}

small {
  font-size: 10px;
}

.ontime {
  fill: #4caf50;
}

.buffer {
  fill: #ffa000;
}

.delay {
  fill: #e81426;
}

.na {
  //fill: #d3d6d8;
  fill: grey;
}

.base {
  fill: cornflowerblue;
}

.terminating {
  fill: slategrey;
}
