
.main-container{
  padding-bottom: 15px;
}
.main-text{
  padding-top: 20px;
  font-size: 24px;
}
.sub-text{
  font-size: 16px;
}
.cancel-btn{
  color: #a2a2a2;
  margin-right: 10px;
}
mat-dialog-actions button{
  min-width: 130px;
}