<!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link"
      id="perf-summ-tab"
      data-toggle="tab"
      routerLink="/perf-summary"
      routerLinkActive="active"
      role="tab"
      aria-controls="perf-summary"
      aria-selected="true">Performance Summary</a
    >
  </li>
  <!-- <li class="nav-item">
    <a
      class="nav-link"
      id="obd-analysis-tab"
      data-toggle="tab"
      routerLink="/dashboard/obd-analysis"
      role="tab"
      routerLinkActive="active"
      aria-controls="obd-analysis"
      aria-selected="false">OBD Analysis (Ontime-Buffer-Delay)</a
    >
  </li>
  <li class="nav-item">
    <a 
    	class="nav-link" 
    	id="oper-summary-tab" 
    	data-toggle="tab" 
    	routerLink="/dashboard/oper-summary" 
    	role="tab" routerLinkActive="active" 
    	aria-controls="oper-summary" 
    	aria-selected="false">Operations Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
    	id="ground-summary-tab" 
    	data-toggle="tab" 
    	routerLink="/dashboard/ground-summary" 
    	role="tab" routerLinkActive="active" 
    	aria-controls="ground-summary" 
    	aria-selected="false">Ground Summary</a>
  </li> -->
</ul>

