.airline-title-only{
    height: 65px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.contract-display{
    padding: 0px !important;
    height: 65px;
    margin-top: 25px !important;
}
.airline-title-only img{
    height: 30px;
    margin-top: 5px;
}