<section class="text-center final-approach-common-div">
  <section >
    <img src="assets/images/dashboard/arrival-icon.png" class="flight-icon"/>
  </section>
  <section class="final-approach-section ">
    <span class="final-approach-section-span">{{details.flightNumber}}</span>
    <span>is on final approach</span>
    <!-- <span><img src="assets/images/master/route-div.png"></span>
    <span class="final-approach-section-span2">Departure Time Flight No</span> -->
  </section>
  <section class="final-approach-section ">
    <!-- <p>is on final approach</p> -->
    <button class="mat-button final-approach-ok-button" (click)="closeModel()">OK, GOT IT</button>
  </section>
</section>