.add-mat-dialog-title {
  background: white !important;
  color: #000000 !important;
}

.summary-action {
  padding-top: 34px;
}

.cancel-btn {
  color: #a2a2a2;
  margin-left: 55px !important;
  border-radius: 5px;
}