.airline-title img{
height: 30px;
margin: 5px 0px 0px 10px;
}
.airline-title{
    height: 40px;
    border-radius: 5px 5px 0px 0px;
}
.spice{
    background: #eb1f28;
}
.al{
    background: #006271;
}
.delta{
    background: #003d79;
}
.klm{
    background: #24a4dd;
}
.anz{
    background: #000;
}
.emirates{
    background: #e2383f;
}

.flight-det .flt-no{
font-size: 20px;
font-weight: bold;
}
.change-display{
    padding: 0px !important;
    height: 100px;
    margin-top: 25px !important;
}
.summary-card .station-top{
    margin-top: 10px;
}
.flight-det{
    padding: 0px 10px 10px 10px;
}